# ---- Python ----
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Виртуальные окружения
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Логи и временные файлы
*.log
*.pot
*.py,cover
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pycover
*.spec
*.manifest
*.tmp
*.swp

# ---- PyCharm ----
.idea/
*.iml
out/
*.ipr
*.iws

# ---- OS ----
.DS_Store
Thumbs.db
